<div class="block w-full py-2">
  <label *ngIf="label"
    class="text-black dark:text-green block mb-2 text-sm capitalize font-mono text-gray-600 w-full">{{label}}</label>
  <div class="relative">
    <span *ngIf="prependContent" class="absolute left-[4.5px] top-3 text-gray dark:text-green">$</span>
    <input [type]="type"
      class="dark:text-green font-mono h-12 border border-gray-300 dark:border-green text-gray dark:text-green text-base
      rounded-lg block w-full py-2.5 px-4
    focus:outline-none dark:bg-navy bg:white" [formControl]="control" />
  </div>
</div>
